


{% extends 'base.html' %}
{% load static %}

{% block content%}

<style>
    section {
        padding: 100px; /* Adjust the padding value as needed */
    }
    h2 {
        margin-top: 0; /* Optional: adjust the top margin of the header */
    }
</style>

<body>
    <section>
        <div class="container">
           <h2>Password Reset</h2>
            <form method="post">
                {% csrf_token %}
                {{ password_reset_form.as_p }}
                <button type="submit">Reset My Password</button>
            </form>
        </div>
    </section>
</body>

{% endblock %}
